<template>
    <div>
        <v-navigation-drawer v-model="drawer"
                             :clipped="$vuetify.breakpoint.lgAndUp" app>
            <v-list dense>
                <template v-for="item in items">
                    <v-list-group
                            v-if="item.children"
                            :key="item.text"
                            v-model="item.model"
                            :prepend-icon="item.model ? item.icon : item['icon-alt']"
                            append-icon=""
                    >
                        <template v-slot:activator>
                            <v-list-item>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        {{ item.text }}
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                        <v-list-item
                                v-for="(child, i) in item.children"
                                :key="i"
                                link
                                :to="child.route"
                        >
                            <v-list-item-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item
                            v-else
                            :key="item.text"
                            link
                            active-class="active"
                            :to="item.route"
                    >
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                app color="blue darken-3" dark >
            <v-toolbar-title style="width: 300px" class="ml-0 pl-4" >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
                <span class="hidden-sm-and-down">Admin Dashboard</span>
            </v-toolbar-title>
            <v-spacer/>
        </v-app-bar>
    </div>
</template>

<script>
    export default {
        name: "LeftSidebar",
        data() {
            return {
                drawer: null,
                items: [
                    {icon: 'mdi-home', text: 'Dashboard', route: '/'},
                    {
                        icon: 'mdi-chevron-up',
                        'icon-alt': 'mdi-chevron-down',
                        text: 'Users',
                        children: [
                            {icon: 'mdi-chart-areaspline-variant', text: 'Management', route: '/management'},
                            {icon: 'mdi-credit-card', text: 'Transactions', route: '/transactions'},
                        ],
                    },
                ],
            }
        }
    }
</script>

<style scoped>

</style>