<template>
    <v-app id="inspire">
        <left-sidebar></left-sidebar>
        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import LeftSidebar from "./LeftSidebar";

    export default {
        name: 'App',
        components: {LeftSidebar}
    };
</script>
